<div id="main">
  <div style="padding-right:10px; float:left;">
    <%= image_tag( "/images/democratic.png", :size => "57x57", :title => 'Democrats') %>
  </div>
  <div style="line-height:57px; float:left;">
    <strong><label id="text2">Blue Points (Democrats)</label></strong>
  </div>
  <div style="float: right;"><%= render :partial => 'layouts/share_buttons' %></div>
  <br><div class="separator"></div><br>
  <label id="text35">
    RULES: Check-in to a venue and earn 1 Blue Point if most of the venue's campaign contributions go to Democrats.
    Earn 2 Blue Points if more than two-thirds go to Democrats.
  </label>
  <br><br><br>
  <%= render :partial => 'standings/rankings', :locals => { :points => @points, :is_democratic => true } %>  
</div>