  <div>
    <div style="padding-right: 20px; float: left;">
      <%= image_tag("/images/adam.jpg", :title => 'Adam Kraft') %>
    </div>
    <div style="padding-left: 20px;" >
      <div style="float: left;">
        <label id="text35">Adam Kraft</label>
        <div id="spacer_3"></div>
        <label id="text4">CEO, Co-Founder</label>
        <div id="spacer_3"></div>
        <label id="text4"><a href="mailto:adam@geopollster.com" style="font-weight: normal;">Email</a></label>
        <div id="spacer_3"></div>
        <label id="text4"><a href="https://foursquare.com/adamakraft" target="_blank" style="font-weight: normal;">Foursquare</a></label><label id="text4">&nbsp;&nbsp;/&nbsp;&nbsp;</label>
        <label id="text4"><a href="http://www.facebook.com/adamakraft" target="_blank" style="font-weight: normal;">Facebook</a></label><label id="text4">&nbsp;&nbsp;/&nbsp;&nbsp;</label>
        <label id="text4"><a href="http://twitter.com/adamakraft" target="_blank" style="font-weight: normal;">Twitter</a></label><label id="text4">&nbsp;&nbsp;/&nbsp;&nbsp;</label>
        <label id="text4"><a href="http://www.linkedin.com/in/adamkraft" target="_blank" style="font-weight: normal;">LinkedIn</a></label><label id="text4">&nbsp;&nbsp;/&nbsp;&nbsp;</label>
        <label id="text4"><a href="https://www.vizify.com/adam-kraft" target="_blank" style="font-weight: normal;">Vizify</a></label>
      </div>
    </div>
  </div>
  <div class="clear_floats"></div>
  <br><br>
  <div>
    <div style="padding-right: 20px; float: left;">
      <%= image_tag("/images/jess.jpg", :title => 'Jess Kraft') %>
    </div>
    <div style="padding-left: 20px;" >
      <div style="float: left;">
        <label id="text35">Jess Kraft</label>
        <div id="spacer_3"></div>
        <label id="text4">Co-Founder</label>
        <div id="spacer_3"></div>
        <label id="text4"><a href="http://500px.com/jkraft5/store" target="_blank" style="font-weight: normal;">500px</a></label><label id="text4">&nbsp;&nbsp;/&nbsp;&nbsp;</label>
        <label id="text4"><a href="http://www.flickr.com/photos/jesskraft/" target="_blank" style="font-weight: normal;">Flickr</a></label>
      </div>
    </div>
  </div>
  <div class="clear_floats"></div>
  <br><br>
  <div>
    <div style="padding-right: 20px; float: left;">
      <%= image_tag("/images/bruno.jpeg", :title => 'Bruno Pieroni') %>
    </div>
    <div style="padding-left: 20px;" >
      <div style="float: left;">
        <label id="text35">Bruno Pieroni</label>
        <div id="spacer_3"></div>
        <label id="text4">Graphic Design</label>
        <div id="spacer_3"></div>
        <label id="text4"><a href="http://www.brunopieroni.com" target="_blank" style="font-weight: normal;">www.brunopieroni.com</a></label>
      </div>
    </div>
  </div>
  <div class="clear_floats"></div>
  <br><br>
