<div id="main">
 
  <strong><label id="text2">About</label></strong>
  <br><div class="separator"></div><br>
 
  <div style="width:500px; float:left; padding-right:100px;">
    
    <%= image_tag("geopollster-no-logo2.jpg", :title => 'GeoPollster' ) %>

    <br><br>
    <strong><label id="text3">Why GeoPollster?</label></strong>
    <br><br>
    <label id="text4">
      Corporate influence on society is at an all-time high. Citizens are outraged. Citizens feel helpless. 
      Citizens want to be empowered. How can the average citizen influence a billion dollar corporation?
      How can we affect change through consumer choices? 
      <div style="padding-top: 15px;"></div>
      This isn't 1984. It's 2012. We have the Internet. We have smartphones. We have data. And now we have GeoPollster.
      Welcome to 21st century democracy.
    </label>
    
  </div>
  <div class="clear_floats"></div>
  <br><br>
  <strong><label id="text3">Our Team</label></strong>
  <br><br>
  <%= render :partial => 'welcome/our_team' %>  
</div>
