<div id="main">
  <strong><label id="text2">Contact Us</label></strong>
  <br><div class="separator"></div><br>
  <label id="text4">Have a question?  Got some advice?  We'd love to hear from you!  Contact us at <strong>team@geopollster.com</strong>.</label>
  <br><br>
  <label id="text4">For press inquiries please contact <strong>emily@geopollster.com</strong>.</label>
</div>