<div id="main" style="padding-right: 200px;">
  <label id="text3">
    GeoPollster Launches Location-Based Tool Empowering Users to Support Companies Reflecting Their Political Beliefs
  </label>
  <div id="spacer_3"></div>
  <div id="spacer_3"></div>
  <label id="text4" style="font-style:italic;">
    Real-time location-based tool links corporate political donation data to physical locations
  </label>
  <div id="spacer_3"></div>
  <div id="spacer_3"></div>
  <label id="text4">
    September 25, 2012 (CHICAGO) - Just in time for the November election, GeoPollster has launched a corporate accountability tool that alerts users when they check-in to businesses using money to influence the political process. The tool links campaign finance data from the Center for Responsive Politics (OpenSecrets.org) with location-based service Foursquare.
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    GeoPollster utilizes Foursquare's new Connected App interface to instantly send corporate campaign contribution data to the user's mobile device. When a user checks-in to a company that makes campaign contributions, they receive a message informing them of whether the company gives mostly to Democrats or Republicans. By pushing this data to users in real-time, GeoPollster empowers its users to decide where they go and what companies to support based on political contributions. For the first time, corporate campaign contribution data is personal and ubiquitous.
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    In the wake of the Citizens United ruling, Americans are deeply concerned and outraged by corporate influence in politics. "This tool makes it simple and easy to find, expose, and share this data. By integrating with a location-based service such as Foursquare, corporate campaign contribution data can spread more quickly" said Adam Kraft, co-founder of GeoPollster.
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    "Adding a location element to political donations will illuminate this data in new ways. For example, we know the fast food industry donates mostly to Republican candidates. Fast food restaurants are predominantly located in low-income communities. This project can show that residents of low-income communities subsidize Republican politicians through their consumer spending."
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    In addition to real-time alerts, users can login to the GeoPollster website to have their check-in history analyzed. Users receive scores based on whether they check-in to companies that give mostly to Democrats or Republicans. Users receive Blue Points for Democratic check-ins and Red Points for Republican check-ins. This social good gamification element will help users adjust their shopping and spending habits to better reflect their personal values.
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    <strong>About GeoPollster</strong>
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    GeoPollster is a Chicago-based startup that utilizes mobile technology to promote informed and engaged citizens. Our company firmly believes that the smart phone is the most empowering personal device ever created, and it can be utilized to help citizens fight corporate clout. Corporate influence in politics is at an all-time high, and GeoPollster turns every citizen into an activist.
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    GeoPollster was founded in Chicago in 2010 by brothers Adam and Jess Kraft. In 2011, GeoPollster partnered with Canada's National Post to provide real-time location-based polling for Canada's federal election. The partnership helped the National Post win a Gold for Best Use of Social Media at the annual Canadian Online Publishing Awards.
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    <strong>For more information:</strong>
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    Emily Erickson
    <div id="spacer_3"></div>
    GeoPollster
    <div id="spacer_3"></div>
    emily@geopollster.com
    <div id="spacer_3"></div>
    geopollster.com
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    <strong>Logos:</strong>
    <div id="spacer_3"></div>
    <div id="spacer_3"></div>
    <%= image_tag("/images/geopollster-logo-large.jpg", :title => 'GeoPollster Large Logo', :style => 'padding-right: 50px;') %>
    <%= image_tag("/images/geopollster-logo-small.jpg", :title => 'GeoPollster Small Logo') %>
  </label>
</div>