<div id="main">
  <strong><label id="text2">Privacy Policy</label></strong>
  <br><div class="separator"></div><br>
  <strong><label id="text3">What information do we collect?</label></strong>
  <br><br>
  <label id="text4">
    We collect information from you when you register on our site. 
    <br><br>
    When ordering or registering on our site, as appropriate, you may be asked to enter your name, e-mail address, phone number, gender or political affiliation (which you may opt not to provide). Information provided on foursquare.com will be provided to GeoPollster if you choose to "allow" the connected app. You may choose to disconnect your foursquare account and information at any time by selecting "disconnect" under the GeoPollster application to the "Connected Apps" section under "Settings" on foursquare.com. 
    <br><br>
    GeoPollster also complies with the Privacy Policy of foursquare, viewable here: https://foursquare.com/legal/privacy
  </label>
  <br><br>
  <strong><label id="text3">What do we use your information for?</label></strong>
  <br><br>
  <label id="text4">
    Any of the information we collect from you may be used in one of the following ways: 
    <br><br>
    - To send periodic emails.
    <br>
    - The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.
    <br>
    - Political information and foursquare check-ins will be used to tally political support by venue type, and will remain anonymous.
  </label>
  <br><br>
  <strong><label id="text3">Do we use cookies?</label></strong>
  <br><br>
  <label id="text4">
    Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information. Cookies from GeoPollster are destroyed when you log out.
  </label>
  <br><br>
  <strong><label id="text3">Do we disclose any information to outside parties?</label></strong>
  <br><br>
  <label id="text4">
    We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
  </label>
  <br><br>
  <strong><label id="text3">California Online Privacy Protection Act Compliance</label></strong>
  <br><br>
  <label id="text4">
    Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.
  </label>
  <br><br>
  <strong><label id="text3">Your Consent</label></strong>
  <br><br>
  <label id="text4">
    By using our site, you consent to our web site privacy policy.
  </label>
  <br><br>
  <strong><label id="text3">Contacting Us</label></strong>
  <br><br>
  <label id="text4">
    If there are any questions regarding this privacy policy you may contact us using the information below. 
    <br><br>
    geopollster.com
    <br>
    team@geopollster.com
  </label>
</div>