<% text, author = random_quote %>
<!--
<label id="text35" style="font-style:italic;">"<%= text %>"</label><label id="text35" style="white-space: nowrap;"> - <%= author %></label>
-->
<label id="text35" style="font-style:italic;">"<%= text %>"</label><label id="text35"> <%= author %></label>